*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    height: 100vh;
    width: 100vw;
    background-color: #cb7121;
    display: flex;
   justify-content: center;
   padding: 20px;
}

.block {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

    height: 80%;
    width: 80%;
    border: 1px solid #fff;
    padding: 50px 20px;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.title {
    color: #fff;
    font-size: 36px;
    text-transform: uppercase;
}
.num {
    font-size: 72px;
}
.btn {
    padding: 10px 15px;
    color: #fff;
        cursor: pointer;
    transition: 0.5s ease;
    border: none;
    outline: none;
    background-color: #00008B;
    text-transform: uppercase;
}

.btn:hover {
    background-color: #303f9f;
}

.sum {
    
}